[[extend 'layout.html']]

<div class="section">
    <div class="subtitle">Welcome to</div>
    <div class="title">South Breeze Enterprises</div>
    <p>South Breeze Enterprises is built around the structure of the Microsoft Northwind database, but converted
        to SQLite.</p>
    <p>This web application serves as an example of how to use many py4web features including:</p>
    <ul style="padding-top: 1rem;">
        <li>Form and Custom Forms</li>
        <li>Grids</li>
        <li>Grid Columns</li>
        <li>
            Htmx
            <ul>
                <li>Embedded forms</li>
                <li>Embedded grids</li>
                <li>Autocomplete</li>
            </ul>
        </li>
    </ul>
    <p>If you want more information I can usually be found lurking on the
        <a href="https://groups.google.com/g/py4web">py4web google group</a> or in the Discord channel.</p>

    <p>The code is available on <a href="https://github.com/jpsteil/southbreeze">github</a>.</p>

    <div style="padding-top: 2rem;">
        Log in with
        <table class="table is-bordered">
            <tr>
                <td>Email</td>
                <td>test@example.com</td>
            </tr>
            <tr>
                <td>Password</td>
                <td>sample_user</td>
            </tr>
        </table>
    </div>
</div>