[[if grid.action == 'select':]]
<style type="text/css">
    .grid-col-quote_line_adjustments {
        text-align: right;
    }
</style>
<script type="text/javascript">
    window.addEventListener("load",function() {
        var form = document.forms[0];
        if (form != null) {
            form.addEventListener("submit", function (e1) {
                e1.preventDefault();
                var action = new URL(form.action);
                for (var i = 0; i < form.elements.length; i++) {
                    var e = form.elements[i];
                    if (e.name.substring(0, 3) === 'sq_') {
                        action.searchParams.set(encodeURIComponent(e.name), encodeURIComponent(e.value));
                    }
                }
                form.action = action
                form.submit();
            });
        }
    });
</script>
[[pass]]
<div class="container">
    [[if grid.action in ['details', 'edit']:]]
    <div class="columns">
        <div class="column">
            <div id="detail-target" style="padding-bottom: 1.5rem;">
                <div hx-get="[[=URL('order_detail/%s' % parent_id) ]]" hx-trigger="load" hx-target="#detail-target">
                    <img class="htmx-indicator" src="[[=URL('static', 'images/spinner.gif')]]" height="20"/>
                </div>
            </div>
            </div>
            <div class="row">
                [[grid_form = grid.render()]]
                [[=grid_form.custom.begin]]
                [[=grid_form.custom.submit ]]
                [[if not grid_form.readonly:]]
                    [[=SPAN(*grid_form.param.sidecar)]]
                [[pass]]
                [[=grid_form.custom.end]]
            </div>
        </div>
    </div>
    [[else:]]
        [[=grid.render()]]
    [[pass]]
</div>
